.form {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.form-container {
  min-height: 60vh;
  align-items: center;
}
.news {
  display: flex;
  justify-content: space-around;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  padding: 5%;
}
.container h1,
.time,
.body {
  width: 50vw;
}
.body,
.time {
  padding-top: 5%;
}
.body {
  font-size: larger;
}
