.form {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.form-container {
  min-height: 60vh;
  align-items: center;
}
.news {
  display: flex;
  justify-content: space-around;
}
.mdl-cell-6-col {
  min-height: 50vh;
}
